<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">

    <h1 class="mt-4">User page</h1>
    <p class="lead mb-3">Welcome <%= Username %></p>
    <a href="/logout" class="btn btn-secondary">Logout</a>


</body>

</html>