<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head %>


    <!-- Allows to display the right navBar -->
    <% var connected = 1 %>

    <% include partials/navBar %>

    <script>
        $(document).ready(function () {
            $('#delete').on('click', function () {

                $.ajax({
                    type: "DELETE",
                    url: '/<%= user.email %>',
                }).done(function (msg) {
                    alert('Your profile is now deleted, you will be redirected to the login page');
                    location.reload(true);
                });

                //here would be the code to send the DELETE request 
            });
        });

    </script>

</head>

<body>
    <div class="container">
        <h1 class="mt-4">User page</h1>
        <p class="lead mb-3">Welcome <%= user.username %></p>

        <a href="/updateProfile" class="btn btn-primary">Update Profile</a>

        <!-- Mettre affichage metrics -->
        <br><br><br><br>
        <div>

            <div class="text-right">

                <!-- <a href="/logout" class="btn btn-secondary text-left">Logout</a> -->

                <!-- change href -->
                <a class="btn btn-danger" id="delete">Delete your profile</a>

            </div>
        </div>
    </div>

</body>

</html>