<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h2>Welcome to our page, you'll see a link below to go to our hello page !</h2>
        <p>In the next page, you can write your name in the url and the page will welcome you like you deserve</p>
        <p>Click on this link => <a href="hello/Ramzi">hello</a></p>
    </div>
</body>

</html>