<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ECE API</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
    }
  </style>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>



  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/register">Register</a>
        <a class="nav-item nav-link" href="/">Login</a>
      </div>
    </div>
  </nav>



</head>

<body class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"> Login</h1>
        <% include ./partials/messages %>
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>" />

          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
              value="<%= typeof password != 'undefined' ? password : '' %>" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>